name: Deploy to GitHub Pages

on:
  push:
  workflow_dispatch:

permissions:
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v4
     - uses: actions/setup-python@v5
     - name: Build
       run: |
         pip install -r requirements.txt
         make html
     - name: Upload artifact
       uses: actions/upload-pages-artifact@v3
       with:
         path: build/html
     - name: Deploy to GitHub Pages
       id: deployment
       uses: actions/deploy-pages@v4